*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

i{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    background-color: #212529;
    color: white;
    padding: 25px 60px ;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.cart{
    background-color: white;
    color: #212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
}

.cartAmount{
    color: white;
    background-color: red;
    position: absolute;
    font-size: 16px;
    right: -10px;
    top: -15px;
    padding: 4px;
    border-radius: 3px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4,222px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

/*resposive design*/
@media (max-width: 1000px) {
    .shop{
        grid-template-columns: repeat(2, 222px);
    }
}
@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 222px);
    }
}

.item{
    border: 2px solid #212529;
    border-radius: 4px;
    
}
.item img{
    width: 100%;
    border-radius: 2px 2px 0 0;
}
.item-details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity{
    display: flex;
    justify-content: space-between; /* works for x-axis*/
    align-items: center;    /* works for y-axis*/
}

.buttons{
    display: flex;
    gap: 8px;
    font-size: 20px;
    margin-left: 10px;

}
.fa-minus:hover {
    color: red;
}

.fa-plus:hover {
    color: rgb(0, 255, 0);
}


/*
    styles for label and buttons
*/

.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn, .checkout, .removeAll{
    background-color: #212529;
    font-weight: bold;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
}


.fa-xmark{
    color: red;
    font-weight: bold;
}
/*
    styles for shopping cart
*/
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 30px;
    /* border: 2px solid red; */
}
.cart-item{
    display: flex;
    flex-direction: row;
    border: 2px solid #212529;
    border-radius: 5px;
    align-items: top;
}

.title-price-x{
    margin: 10px;
    display: flex;
    align-items: center;
    width: 195px;
    border: 2px solid blue;
    justify-content: space-between;
}

.title-price{
    display: flex;
    align-items: center;
    border: 2px solid red;
    gap: 20px;
}

.cart-item-price{
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;

}

.bill{
    margin: 20px;
}
.checkout:hover{
    color: #212529;
    background-color: rgb(0, 255, 0);
}
.removeAll:hover{
    color: black;
    background-color: red;
}
